.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    border-radius: 14px;
    border: 5px solid black;
    font-size: 34px;
    height: 65px;
    width: 405px;
}
button{
    border-radius: 11px;
    font-size: 40px;
    background-color: rgb(107, 204, 173);
    width: 102px;
    height: 58px;
}
.calculator{
    display: inline-block;
    border-radius: 15px;
    padding: 18px;
    background-color: cadetblue;
    border: 4px solid black;
}
h1{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}